notebook_templates/* linguist-documentation=true
presentations/* linguist-documentation=true
theoretical_foundation/* linguist-documentation=true
simulations/* linguist-detectable=false
*.md linguist-documentation=true
*.html linguist-documentation=true
